<html>
	<head>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		
		<script>
			const socket = io.connect();
            
            socket.emit("search")
            socket.on("search", (data) => {
               
       		  alert(data+" employees have a salary that exceed 4000dt")
            })
           
            
               
            
		</script>
	</body>
</html>